/*--------------------
             common-font 
-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----
    common-style, common utilits
------------- */
body{
    font-family: 'Poppins', sans-serif;
}
/* common Style for Header section */
.header{
    background-color: #2D25A0;
    padding: 42px 140px 66px 156px;
    color: #ffffff;
}

/* nav-bar style start*/
.nav-bar{
    display: flex;
    align-items: center;
    
}
.nav-info{
    display: flex;
}
.nav-info p{
    padding-right: 36px;
}
.nav-bar a{
    translate: relative;
    margin-left: 100px;
    color: #ffffff;
}

/* ------------------------
header-container style Start
---------------------------------- */
.header-container{
    display: flex;
    align-items: center;
}
.header-info{
    width: 100%;
}
 header:hover #header-transform-and-transition{
    transform:skewX(-30deg);
    transition: transform 2s ease 0.3s;
}


.header-info h1{
    font-size: 48px;
    font-weight: bold;
}
.link-button a{
    color:#ffffff;
}
a{
    text-decoration: none;
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 15px;
}
.header-img{
    width: 556px;
    height: 438px;
}

 /* player img and info STYLE start */
 .players{     
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 210px 165px 180px;
 }
.player-images img{
    width: 300px;
    height: 256px;
}
.player{
    margin-right: 30px;
    margin-bottom: 30px;
    width: 330px;
    height: 474px;
    box-shadow: 5px 5px 20px lightgrey;
}

/* Some Special Style for Highlights Copa America */
#highlights-special-id{
    margin: 20px;
    color: black;
    background-color: #fafafa;
}
#highlint-info-special-id{
    padding-left: 66px;
}

/* 
stylesheet for footer section */
.footer{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer img{
    width: 483.87px;
    height: 110px;
}
.footer-icon i{
    font-size: 20px;
    color: grey;
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 30px;
    margin-right: 14px;
}
.footer-text{
    padding-left: 111px;
    margin-top: -18px;
}

/* @midea Quarise */

/* midea Quarise for mobile devise */
@media only screen and (max-width:688px) {
    .header{
        width: 688px;
    }
    .header-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .players{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    #highlights-info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        width: 688px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
    